/** @format */

#navsub {
  background-color: white;
  color: white;
  font-size: 25px;
  padding: 20px 0;
  height: 80px;
  position: fixed;
  top: 85px;
  width: 100%;
  ul {
    width: 900px;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    gap: 0 20px;
    li {
      button {
        border: hidden;
        border-radius: 5px;
        width: 130px;
        height: 40px;
        background-color: rgb(210, 210, 210);
      }
    }
    .pages {
      margin: 0 auto !important;
      a {
        font-size: 16px;
        color: rgb(82, 82, 82);
        text-decoration: none;
        padding-right: 20px;
        font-weight: bold;
      }
    }
    .shop-now {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: auto;
      button {
        color: white;
        background-color: red;
      }
    }
  }
}
